@model DAL.shop
@{
    ViewBag.Title = "Info";
}

@*{
    在下文具体位置数据库缺少信息，如background图片，新浪微信链接地址和二维码
}*@

<!--home.html-->
@{
    if(Model != null)
    {  
        <!DOCTYPE html>
        <html>  
        <head>  
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black"><title>@Model.name (台州凌霄国际饭店)</title>
        <!--
        <link rel="stylesheet" href="/Content/style/jquery.mobile-1.3.0.min.css?v=25" /> 
        <link rel="stylesheet" href="/Content/style/mobile_web_style.css?v=25" /> 
        <script type="text/javascript" src="/Content/Scripts/jquery-1.9.1.min.js?v=25"></script>

        <script type="text/javascript" src="/Content/Scripts/mobile_web_script.js?v=25"></script> 

        <script type="text/javascript" src="/Content/Scripts/jquery.mobile-1.3.0.min.js?v=25"></script>

        <script type="text/javascript" src="/Content/Scripts/changePage.js?v=25"></script> 
        -->

        <script type="text/javascript"> 

        (function() { 
        var u = navigator.userAgent; 
        if(!(!!u.match(/AppleWebKit.*Mobile.*/)||!!u.match(/AppleWebKit/))) { 
        document.write('<h1 id="notice" style="background-color:red; color:#ffffff; font-size:200%;">您的浏览器不支持新技术Html5请升级或更换浏览器</h1>'); 
        document.execCommand("stop"); 
        } 

        }()); 

        </script>

        <link type="text/css" rel="stylesheet" href="/Content/style/mobile_web_style.css?v=25" />
        <!--<link type="text/css" rel="stylesheet" href="/Content/style/global.css?v=25" />-->
        <script type="text/javascript" src="/Content/Scripts/zepto.min.js?v=25"></script>
        <script type="text/javascript" src="/Content/Scripts/mobile_web_script.js?v=25"></script>   
        <script type="text/javascript" src="/Content/Scripts/slide.js?v=25"></script></head>  
 
        <body>  
        <div id="index">
        <script language="javascript">
        var home ="/hotel/main";
        var promotion_index = "/promotion/index";
        var room_index = "/room/index";
        </script>
        <header>
            @*{
                background 需要在数据库再加图片
            }*@
	        <div class="top" style="background:url(http://f3.v.veimg.cn/maiwei/uploads/1/20130329163152523.png) repeat-x scroll 0 0 transparent;">
                <h1><img src="http://f3.v.veimg.cn/maiwei/uploads/1/20130423103337669.png" class="logo_pop"/></h1>
            </div>
        </header>
           <div id="mainArea">
		        <nav id="nav">
			        <span  rel="/shop/info/1"><a href="/shop/info/@Model.id">@Model.shop_type (酒店介绍)</a></span><span  rel="/shop/activity/1"><a href="/shop/activity/@Model.id">促销活动</a></span><span rel="/shop/room_price/1"><a href="/shop/room_price/@Model.id">客房预订</a></span>
		        </nav><section class="slideArea">
        <ul class="slideWrap" id="slideWrap">
        <li class="slideItem">

        <section id="content">
	        <article class="about">
                <div class="h_banner">
                  <div class="imgScroller">
                    <div id="scroller"  class="slide_img_list">
                 @{
                     string imgsUrl = Model.home_pic;
                     if (imgsUrl != null)
                     {
                         string[] imgs = imgsUrl.Split(';');
                         foreach (string s in imgs)
                         {
                             if (s != null && s != string.Empty)
                             {
                                 <div class="img_box"><img src="@s" alt="" />
                      </div>
                     
                             }
                        }
                    }
                 }
                </div>
                    <div id="scroller_nav"  class="img_indicator"></div>
                  </div>
                </div>
                <p>@Model.description (台州凌霄国际饭店按四星级标准设计、建造，集住宿、餐饮、娱乐、会议为一体的商务度假型饭店。饭店坐落于“中国水泵之乡”浙江省温岭市大溪镇甬台温高速公路入口北侧，南接温州，北通宁波，位置优越，交通便捷，环境优美、典雅，依山傍海，四季常青。饭店拥有各式标准间、梦幻间、行政套房、总统套房225间（套）；中式餐厅、西式餐厅及宴会包厢48个，大中小宴会厅及会议室7个，可同时容纳2200人就餐；独具匠心的服务能够满足每一位客人的需要，而康体中心、足浴、KTV等娱乐设施也能让每一位客人在此尽享轻松。饭店由名师设计，外观气势恢宏，内部风格典雅，装饰豪华而独具后现代文化感。香港景年国际饭店管理公司的专业运作，更彰显了凌霄国际的卓然品味。凌霄国际饭店以其优越的地理环境、齐全的服务项目、先进的设备设施、时尚豪华的装饰以及优质的服务管理为各界宾客提供热情周到、体贴入微的服务。)        </p>
	        </article>
            <div class="title" id="contactus"><h2>联系我们</h2></div>
            <article class="contact">
	          <table width="90%" border="0" cellpadding="0" cellspacing="0" align="center" >
                  <tr>
                    <td width="42">电话：</td>
                    <td><a data-ajax="false" href="tel:@Model.mobile">@Model.mobile (057689689008)</a> <a href="tel:@Model.mobile" class="tel_num_btn">点击拨打</a></td>
                  </tr>
                  <tr>
                    <td>传真：</td>
                    <td>@Model.fax (057689689008)</td>
                  </tr>
                  <tr>
                    <td>地址：</td>
                    <td>@Model.address (温岭市大溪镇甬台温高速公路大溪入口北侧) <a href="https://maps.google.com/maps?q=%E5%8F%B0%E5%B7%9E%E5%87%8C%E9%9C%84%E5%9B%BD%E9%99%85%E9%A5%AD%E5%BA%97&hl=zh-CN&ie=UTF8&ll=28.469333405281844,121.25236664942099&hq=%E5%8F%B0%E5%B7%9E%E5%87%8C%E9%9C%84%E5%9B%BD%E9%99%85%E9%A5%AD%E5%BA%97&t=m&z=19&iwloc=A" data-ajax="false"><img src="http://f3.v.veimg.cn/maiwei/images/icon_google_map.gif" style="vertical-align: middle;"/></a></td>
                  </tr>
                </table>
            </article>
            @*{
                数据库增加新浪，微信链接地址和二维码
            }*@
            <div class="title"><h2>关注 @Model.name (台州凌霄国际饭店)随时获取优惠信息</h2></div>
            <article class="contact">
		        <table width="90%" border="0" cellpadding="0" cellspacing="0" align="center" >
                  <tr>
                    <td width="70">新浪微博：</td>
                    <td ><a data-ajax="false" class="sina_username">@Model.name (台州-凌霄国际饭店)</a></td>
                    <td ><iframe allowtransparency="" border="0" frameborder="0" height="22" marginheight="0" marginwidth="0" scrolling="no" src="http://widget.weibo.com/relationship/followbutton.php?width=200&amp;height=22&amp;uid=2749465097&amp;style=5&amp;btn=red&amp;dpc=1" style="width: 64px; height: 22px;" width="200"></iframe></td>
                    <!--td rowspan="2" style="vertical-align: middle;"><a data-ajax="false" href="#"><img src="images/attention_btn.png"></a></td-->
                  </tr>
                  <tr>
                    <td>微&#12288;&#12288;信：</td>
                    <td colspan="2"><a data-ajax="false" class="wx_username">@Model.name (台州凌霄国际饭店)</a></td>
                    </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td colspan="2">
                     <table border="0" cellpadding="0" cellspacing="0" align="left" style="margin:0px">
	                    <tr>
	                    <td><img src="http://f3.v.veimg.cn/maiwei/uploads/1/20130418142536073.jpg" class="wx_qr_code" width="80" height="80"/></td>
	                    <td style="vertical-align: bottom;"><a href="javascript:;" class="save_qr_code">长按图片保存二维码</a></td>
	                    </tr>
	                    </table>
                    </td>
                    </tr>
                </table>
            </article>
        </section>


        </li>
        <li class="slideItem">
        <br/> 
        <p align="center"><img src="http://f3.v.veimg.cn/maiwei/images/data_load.gif"> 加载中...</p>
        </li>
        <li class="slideItem">
        <br/> 
        <p align="center"><img src="http://f3.v.veimg.cn/maiwei/images/data_load.gif"> 加载中...</p>
        </li>
        </ul>
        </section>
        </div>

        <footer>
	        <nav class="footer_nav">
    	        <ul>
        	        <li class="share_btn"><a data-ajax="false" href="javascript:;">分享</a></li>
			        <li class="save_btn"><a data-ajax="false" href="javascript:;">添加到桌面</a></li>
                </ul>    
            </nav>    
        </footer>
        </div>

        <div id="mask" class="mask2">
          <div class="popup">
            <div class="popup_tit">
              <div class="inner">
                <h2>分 享</h2>
              </div>
            </div>
            <div class="popup_text">
              <ul class="share_list">
                <li><a href="javascript:(function(){window.open('http://v.t.sina.com.cn/share/share.php?title='+encodeURIComponent(document.title)+'&url='+encodeURIComponent(location.href)+'&source=bookmark');})()" title="新浪微博分享"><span><img src="/UploadFiles/admin/share_icon_sina.png?v=25"/></span>分享到新浪微博</a> </li>
                <li><a href="javascript:(function(){window.open('http://v.t.qq.com/share/share.php?title='+encodeURIComponent(document.title)+'&url='+encodeURIComponent(location.href)+'&source=bookmark');})()" title="腾讯微博分享"><span><img src="/UploadFiles/admin/share_icon_tx.png?v=25"/></span>分享到腾讯微博</a></li>     
              </ul>
            </div>
            <div class="operation">
              <a data-ajax="false" href="javascript:closeWindow();" class="operation-btn">取 消</a>
              <a data-ajax="false" href="javascript:;" class="operation-btn" style="display:none">确 定</a>
            </div>
          </div>
        </div>

        <div id="mask" class="mask3">
          <div class="popup">
            <div class="popup_tit">
              <div class="inner">
                <h2>添加到桌面</h2>
              </div>
            </div>
            <div class="popup_text">
              <ul class="">
      	        <li>点击浏览器上”<b style="font-size:18px; font-weight:bold;">☆</b>“或"<img src="http://f3.v.veimg.cn/maiwei/images/icon_zf.png" />",<br/>然后点击”发至桌面“即可。</li>
              </ul>
            </div>
            <div class="operation">
              <a data-ajax="false" href="javascript:closeWindow();" class="operation-btn">取 消</a>
              <a data-ajax="false" href="javascript:;" class="operation-btn" style="display:none">确 定</a>
            </div>
          </div>
        </div>
        <!-- 
        <script type="text/javascript" src="/Content/Scripts/mvc.js?v=25"></script>
        <script type="text/javascript" src="/Content/Scripts/jd.js?v=25"></script> 
        -->
        <script type="text/javascript" src="/Content/Scripts/jd.js?v=25"></script></body> 
        </html>    
    }
}
